body{
margin:0;
background:#050510;
color:white;
font-family:Arial;
display:flex;
}
.sidebar{
width:240px;
background:#0d0d18;
height:100vh;
padding:20px;
}
.sidebar button{
width:100%;
margin-top:10px;
padding:12px;
background:#6a2cff;
color:white;
border:none;
border-radius:10px;
}
.main{
flex:1;
padding:40px;
}
.upload-box{
height:160px;
border:2px dashed orange;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
margin-top:20px;
}
.waveform{
height:180px;
background:#111827;
border-radius:20px;
margin-top:20px;
}
.generate{
margin-top:20px;
padding:16px 30px;
background:linear-gradient(90deg,#7b2cff,#00c8ff);
border:none;
color:white;
border-radius:14px;
font-size:18px;
}